<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Veterinaria Patitas Felices</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

 <h1>🐶 Veterinaria Patitas Felices 🐱</h1>
 <p>Proyecto desarrollado con Flask y PostgreSQL</p>

</header>

<div class="container">

<a href="/registrar_dueno">Registrar Dueño</a>

<a href="/registrar_mascota">Registrar Mascota</a>

<a href="/registrar_veterinario">Registrar Veterinario</a>

<a href="/registrar_cita">Registrar Cita</a>

<a href="/mostrar_duenos">Mostrar Dueños</a>

<a href="/mostrar_mascotas">Mostrar Mascotas</a>

<a href="/mostrar_veterinarios">Mostrar Veterinarios</a>

<a href="/mostrar_citas">Mostrar Citas</a>
</div>

</body>

</html>

<br>

<a href="/">Volver al Inicio</a>


